.fraseContainer{
  font-size: 20px;           
  font-weight: bold;
  background:#483FB5;
  color:white;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; 
  width: 800px;
  height: 400px;
}
.fraseDataContainer{
    display:flex;
    justify-content:center;
}