.fraseContainer{
    font-size: 20px;           
  font-weight: bold;
  background:blue;
  color:black;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; 
  width: 700px;
  height: 600px;
}
.fraseDataContainer{
    display:flex;
    justify-content:center;
}