#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.PaginaPrincipal{
  display:flex;
  align-items:center;
  flex-direction:column;
  background-image: url("background.png");
}
.cosasEnColumna{
  display:flex;
  flex-direction:column;
}
.contenidos{
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
}
.cosasCoche{
  display:flex;
  flex-direction:column;
  background:grey;
}
.flecha{
  transform: rotate(90deg);
}
.button{     
  font-size: 20px;           
  font-weight: bold;
  background:blue;
  color:black;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; 
  width: 700px;
  height: 600px;

}
.elBoton{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.fotoFamiliar{
  display:flex;
  flex-direction:column;
}
.unError{
  display:flex;
  align-items:center;
  justify-content:space-evenly
}
.gifmoneda{
  width: 200px;   
  height: auto;
}
.alarma{
  width:50px;
  height:auto;
}
#fire-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;

    background-image: url("/fire.gif");

    background-repeat: repeat-x;   
    background-size: auto 30px;   
    background-position: bottom;
}