#root {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.PaginaPrincipal{
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  flex-direction:column;
  background:#06041A;
  background-image: url("background.png");
  background-repeat: repeat-x; 
}
.cosasTitulo{
  display:flex;
  flex-direction:flex-start;
  width: 1200px;
  gap:30px

}
.cosasEnColumna{
  display:flex;
  flex-direction:column;
}
.contenidos{
  display:flex;
  justify-content:space-evenly ;
  align-items: center;
  justify-content: center; 
  width: 1400px;
  gap:20px;
}

.cosasCoche{
  display:flex;
  flex-direction:column;
  background:grey;
  align-items:center;
}
.flecha{
  transform: rotate(90deg);
  width: 100px;
}
.anuncio1{
  width: 150px;
}
.anuncio2{
  width:150px;
}
.elBoton{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.FotoFamiliar{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.unError{
  display:flex;
  align-items:center;
  justify-content : center;
}
.gifmoneda{
  width: 200px;   
  height: auto;
}
.alarma{
  width:50px;
  height:auto;
}
#fire-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;

    background-image: url("/fire.gif");

    background-repeat: repeat-x;   
    background-size: auto 30px;   
    background-position: bottom;
}